.responsive-input {
  height: 75vh; 
  width: 45vw;  
  box-sizing: border-box; 
  padding: 10px; 
  font-size: 16px;
  resize: none;
  border-radius: 0% 2% 2% 2%;
  font-family:monospace;
  color: rgb(36, 36, 39);
}

#inputBox{
  background-color: rgb(181, 214, 227) !important;
  box-shadow: 8px 8px  rgb(128, 163, 176);
}
#outputBox{
  box-shadow: 8px 8px  rgb(176, 128, 128);
  background-color: rgb(227, 181, 181) !important;
}

.output2{
  border-bottom: 3px solid rgb(176, 128, 128) !important;
}

.textbox{
  /* border: 1px solid white; */
  width:100%;
  display: flex;
  justify-content: space-around;

}

#paraphrase{
  width: 95%;
  margin: 16px;
  margin-top: 21px;
  background-color: rgb(202, 181, 227);
  font-size: 20px;

  /* background-color: rgb(176, 128, 128); */
}


.honk{
  font-family: "Honk", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.title{
  position: absolute;
  border-bottom: 3px solid rgb(128, 163, 176);
  
  width: 80px;
  margin-top: -32px;
  border-radius: 12% 12% 0% 0%;
  padding: 3px;
  color:black;
  z-index: 1;
}

.box:nth-child(1){
  display: flex;
  justify-content: left;
}
.box:nth-child(2){
  display: flex;
  justify-content: right;
}

/* Removes border glow */
textarea{
  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  z-index: 3;
}

/* makes output box have a curved border */
.output{
  border-radius: 2% 0% 2% 2%;
}

.wordCount{
  position: absolute;
  z-index: 4;
  color:rgba(0, 0, 0, 0.641);
  margin:9px;
  bottom: 78px;
  border-radius: 10% 10% 0% 0%;
  padding:3px;
  padding-left:14px;
  padding-right:14px;
}

.inputWordCount{
  left:612px;
}


/* Loading */
.spinner {
  width: 70.4px;
  height: 70.4px;
  --clr: rgb(189, 115, 115);
  --clr-alpha: rgb(247, 197, 159,.1);
  animation: spinner 1.6s infinite ease;
  transform-style: preserve-3d;

}

.loadingAnimation{
  position: absolute;
  z-index: 3;
  right:320px;
  top:300px;
}
.loadingAnimation pre{
  margin-top: 30px;
  margin-left: -10px;
  color:rgb(189, 115, 115);
  font-weight: bold;
}
.spinner > div {
  background-color: var(--clr-alpha);
  height: 100%;
  position: absolute;
  width: 100%;
  border: 3.5px solid var(--clr);
}

.spinner div:nth-of-type(1) {
  transform: translateZ(-35.2px) rotateY(180deg);
}

.spinner div:nth-of-type(2) {
  transform: rotateY(-270deg) translateX(50%);
  transform-origin: top right;
}

.spinner div:nth-of-type(3) {
  transform: rotateY(270deg) translateX(-50%);
  transform-origin: center left;
}

.spinner div:nth-of-type(4) {
  transform: rotateX(90deg) translateY(-50%);
  transform-origin: top center;
}

.spinner div:nth-of-type(5) {
  transform: rotateX(-90deg) translateY(50%);
  transform-origin: bottom center;
}

.spinner div:nth-of-type(6) {
  transform: translateZ(35.2px);
}

@keyframes spinner {
  0% {
    transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
  }

  50% {
    transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
  }

  100% {
    transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
  }
}